:root {
    --white: #f9f9f9;
    --black: #36383f;
    --gray: #85888c;
    --blue: rgb(18, 90, 90);
    --text-color: #000;
  }

.events {
    padding: 2rem 1rem;
    background-color: var(--white);
    color: var(--text-color);
    text-align: center;
  }
  
  .events h2 {
    margin-bottom: 2rem;
  }
  
  .event-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  
  .event-card {
    background-color: var(--white);
    border: 1px solid var(--gray);
    border-radius: 8px;
    padding: 1.5rem;
    width: 100%;
    max-width: 300px;
    text-align: left;
  }