/* Reset */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
}

/* Responsive Images */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* todo Hover over body in React app and body margin = 8px. Override or find styling and remove */